@keyframes blink-warning {
	to {
		color: orange;
	}
}

@keyframes blink-critical {
	from {
		text-shadow: 1px 1px 10px white;
	}

	to {
		color: red;
		text-shadow: 1px 1px 10px red;
	}
}

* {
	all: unset;
	margin: 1px;
	color: #66aced;
}

.statusbar {
	padding: 2px;
	font-size: 14px;
}

.workspaces,
.mpris,
.window,
.tray,
.clock,
.network,
.temperatures,
.memory,
.cpu,
.power,
.audio,
.powerbtn {
	margin: 1px 3px;
	border-radius: 20px;
	padding: 0.25rem 0.75rem;

	background-color: rgba(0, 0, 0, 0.8);
}

.workspaces {
	font-size: 16px;

	button {
		margin-bottom: 1px;
		border-bottom: 1px solid transparent;

		&.active {
			border-color: #ff4499;
		}

		label {
			border-radius: 20px;
			padding-left: 1em;
			padding-right: 1em;
		}

		&:hover label {
			transition: background-color 0.6s;
			background-color: rgba(70, 70, 70, 0.8);
		}
	}
}

.mpris .previous,
.temperatures>label:first-child,
.temperatures.expanded>label:nth-child(2),
.memory.expanded label,
.battery.expanded>label:first-child,
.output {
	margin-right: 8px;
	border-right: 1px solid #404040;
	padding-right: 8px;
}

.mpris .next,
.network .speeds,
.battery.discharging>*>*>label:last-child,
.battery.charging>*>*>label:last-child,
.brightness label {
	margin-left: 6px;
	border-left: 1px solid #404040;
	padding-left: 8px;
}

.player {
	&:last-child {
		margin-bottom: 0px;
	}

	margin-bottom: 5px;
	border-radius: 15px;
	padding: 10px;

	background-color: rgba(0, 0, 0, 0.8);
	font-family: unset;

	image {
		margin-right: 10px;
	}

	.title {
		font-size: 16px;
	}

	.controls {
		font-size: 40px;

		button {
			margin: 10px;

			&.disabled {
				color: #3e6b94;
			}
		}
	}

	progressbar {
		border-radius: 10px;
		background-color: gray;

		progress {
			border-radius: 6px;
			background-color: #66aced;
		}
	}
}

.window {
	font-weight: bold;
	color: #f7768e;
}

tooltip,
.tray menu {
	border-radius: 10px;
	padding: 5px 0px;

	background-color: rgba(0, 0, 0, 0.8);
}

tooltip {
	font-family: "Noto Mono";
}

.tray menu {
	>menuitem {
		padding: 0px 5px;

		&:disabled label {
			color: gray;
		}

		&:hover {
			background-color: #0e4679;
		}
	}

	separator {
		background-color: #222222;
		padding-top: 1px;

		&:last-child {
			padding: unset;
		}
	}
}

.clock {
	color: #73daca;
}

.temperatures label {
	&.high {
		color: red;
	}

	&.critical {
		animation: blink-critical 500ms linear infinite alternate-reverse;
	}
}

.memory {
	>label {
		margin-right: 5px;
	}

	label {
		&.warning {
			color: orange;
		}

		&.critical {
			animation: blink-critical 500ms linear infinite alternate-reverse;
		}
	}

	&.expanded {

		>label,
		box>label:last-child {
			border: none;
			padding: 0;
		}

		>label {
			margin-right: 4px;
		}

		box>label {
			margin-right: 3px;
		}
	}
}

.cpu {
	>revealer>label {
		margin-left: 4px;
	}

	.warning {
		color: orange;
	}

	.critical {
		color: red;
	}
}

.battery {
	&.warning {
		color: orange;
	}

	&.critical {
		color: red;
	}

	&.discharging {
		&.warning>label {
			animation: blink-warning 1s linear infinite alternate-reverse;
		}

		&.critical>label {
			animation: blink-critical 1s linear infinite alternate-reverse;
		}
	}
}

.audio label,
.powerbtn label {
	color: #f79aec;
}

.audio .muted {
	color: red;
}